.tool-tip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: black;
  color: #fff;
  padding-left: 15px;
  border-radius: 3px;

  .tooltip-text {
    padding-right: 15px;
    cursor: pointer;
  }
}
